@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:hyh5678901@gmail.com">hyh5678901#gmail.com</a><br />*「＃」改成「＠」（半角）<br />
</address>